In [9]:
import pandas as pd
import re, string

### 영화 추천 시스템 테스트

##### 1. 영화 제목이나 배우 찾기

In [12]:
df = pd.read_csv('../static/data/movie_test.csv')

In [ ]:
df.head()

In [15]:

df.fillna('')
df.code = df.code.astype(str)
df.head(1)

,code,title,genre,summering,first_day,production_year,movie_director,star_actor,img,synopsis,m_type,m_kind,m_genre,m_nation,m_time,m_rated,morphs
0,20232561,몸값part.2 (Bargain part.2),스릴러,장편 | 일반영화 | 스릴러 | 105분 13초 | 청소년관람불가 | 한국,2023-07-05,2022년,전우성,NaN,https://www.kobis.or.kr/common/mast/movie/2023...,"무너진 세상, 폭발하는 광기\r\n미친 자들의 목숨을 건 거래가 시작된다!\r\n\...",장편,일반영화,스릴러,한국,105분 13초,청소년관람불가,무너진 세상 폭발 하는 광기 미친 자 들 의 목숨 을 건 거래 가 시작 된다 서로 ...

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   code             2466 non-null   object
 1   title            2466 non-null   object
 2   genre            2466 non-null   object
 3   summering        2466 non-null   object
 4   first_day        2466 non-null   object
 5   production_year  2466 non-null   object
 6   movie_director   1698 non-null   object
 7   star_actor       2466 non-null   object
 8   img              2466 non-null   object
 9   synopsis         2466 non-null   object
 10  m_type           2466 non-null   object
 11  m_kind           2466 non-null   object
 12  m_genre          2466 non-null   object
 13  m_nation         2466 non-null   object
 14  m_time           2390 non-null   object
 15  m_rated          1165 non-null   object
 16  morphs           2466 non-null   object
dtypes: object(17)
memory usage: 327.6+ KB

In [17]:
df.star_actor = ''

In [25]:
title = '봄'
actor = ''
director = ''
title = re.sub('['+string.punctuation+']', '', title).lower()
actor = re.sub('['+string.punctuation+']', '', actor).lower()
director = re.sub('['+string.punctuation+']', '', director).lower()


movies = df[df.title.str.replace('['+string.punctuation+']', '', regex=True).str.contains(title, case=False) &
 df.star_actor.str.replace('['+string.punctuation+']', '', regex=True).str.contains(actor, case=False) &
 df.movie_director.str.replace('['+string.punctuation+']', '', regex=True).str.contains(actor, case=False)]
movies = movies[['code', 'title', 'first_day', 'production_year', 'movie_director', 'star_actor', 'img', 'synopsis', 'm_genre', 'm_nation', 'm_time', 'm_rated']]